google-genai
opencv-python
pyaudio
Pillow
mss
requests
pyautogui
pyperclip
screen-brightness-control
AppOpener
pycaw
comtypes
selenium
webdriver-manager
newsapi-python
wikipedia-api
feedparser
psutil